<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:5032/SyncService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ISyncService" contract="SyncService.ISyncService"
        name="BasicHttpBinding_ISyncService" />
      <endpoint address="http://localhost:5032/SyncService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ISyncService1" contract="SyncService.ISyncService"
        name="BasicHttpBinding_ISyncService1" />
    </client>

    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ISyncService" />
        <binding name="BasicHttpBinding_ISyncService1" />
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>
