<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="RemoteDirectoryPath" value="D:\sync\ServerStore" />
    <add key="chunkSize" value="262144" />
    <add key="UseTemp" value="False" />
    <add key="TempDirectoryPath" value="default" />

  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <!--Increase 'maxRequestLength' to needed value: 3GB (value is in kilobytes)-->
    <httpRuntime maxRequestLength="3145728"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <dataContractSerializer maxItemsInObjectGraph="2147483646"/>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text" transferMode="Streamed" >
          
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />

        </binding>
      </basicHttpBinding>
    </bindings>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
    <security>
      <requestFiltering>
        <!--Increase 'maxAllowedContentLength' to needed value: 3GB (value is in bytes)-->
        <requestLimits maxAllowedContentLength="3221225472" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>